---
import Layout from './Layout.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio - Agustín</title>
	</head>
	<body>
		<Layout>
			<slot />
		</Layout>
	</body>
</html>
