---
import '../styles/global.css';
---

<div class="min-h-screen w-full bg-black relative overflow-hidden">
	<div
		class="absolute inset-0 z-0"
		style="background-image:
			radial-gradient(circle at 50% 100%, rgba(70, 85, 110, 0.5) 0%, transparent 60%),
			radial-gradient(circle at 50% 100%, rgba(99, 102, 241, 0.4) 0%, transparent 70%),
			radial-gradient(circle at 50% 100%, rgba(181, 184, 208, 0.3) 0%, transparent 80%);
		"
	></div>

	<div class="relative z-10">
		<slot />
	</div>
</div>

<style is:global>
	:root {
		--var-color-primary: #162427;
		--var-color-secondary: #56A5DD;
		--var-color-tertiary: #56A5DD;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>